@font-face {
    font-family: 'Lato Black';
    src: url('assets/fonts/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Regular';
    src: url('assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.wrapper{
    max-width: 1020px;
    width: 100%;
    /* margin: 0; */
    /* padding: 0 40px; */
    
}

.Portfolio{
    background-color: #2d303a;
    width: 940px;
    color: #666d89;
    font-family: 'Lato Regular',Verdana, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 58px 40px;
    height: 754px;
}
h2{
    margin: 0;
    font-weight: 1000;
}

.aboutus{
    color:#666d89 ;
    background-color: #f2f2f2;
    width: 1020px;
    padding: 58px 40px;
    width: 940px;
    
}
.aboutus-header{
    font-size: 30px;
    font-weight: 990;
    letter-spacing: .1px;

}

.layout-4-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -3px;
    margin-top: 20px;
}

.sort{
    display:flex;
    list-style-type: none;
    padding: 0;
    margin-top: 12px;
    font-size: 12px;
    letter-spacing:.1px;
}
li{
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 3px 5px;
    margin-right: 10px;
}

li:hover{
    color: white;
    border-color: white;
}

.employees{

    width: 300px;

}

section{
    

    width: 1020px;
}

.Portfolio-text{
    font-size: 1.1rem;
    margin-top: 25px;

}

body{
    margin: 0;
    font-family: 'Lato Regular',Verdana, sans-serif;
    letter-spacing: .1px;
}

p{
    letter-spacing: .1px;
    margin: 0;
}

.aboutus-text{
    margin: 25px 0;
    line-height: 25px;
    font-size: 16px;
}


.employees-conteiner{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;

}

.employees-header{
    margin-top: 10px;
    margin-bottom: 0;

}

.employees-content{
    margin-top: 10px;
    font-size: 11px;
    line-height: 20px;
    width: 100%;
    
}

.share{
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    width: 50%;

}